@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hyper Movie Database stores your favorite actors, their biggest roles, and current Twitter feedback!</a>.</p>
</div>
